.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Header */
.phone {
  margin:50px;
  width: 400px;
  height: 80vh;
  border: solid;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.info{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #0c4a85;
  height:8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tvsicon {
  border: solid;
  border-radius: 50%;
  margin:5px;
}

.tvsCredit {
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.threedots {
  padding-right: 10px;
  justify-content: flex-end;
  color: white;
}



/* body */

.chatBody {
  height: 100%;
  overflow-y:auto;

}

.messageContainer {
  padding: 7px 7px 3px 7px;
  display: flex;
}

.messageStyle {
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
  display:inline-block;
  max-width: 300px;
  padding: 7px;
  border-radius: 10px;
}


/* footer */

.footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textFieldContainer {
  width: 100%;
}


.sendIconContainer {
  padding: 5px;
  color: #0c4a85;
}
